{% extends 'core/base.html' %}
{% block title %}
Password Reset
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h2>Password Reset</h2>
        </div>
        <div class="content">
            <p class="instructions">
                Hello from PriorityStore,
            </p>
            <p class="instructions">
                You're receiving this e-mail because you or someone else has requested a password for your user account.
                It can be safely ignored if you did not request a password reset.
            </p>
            <p class="instructions">
                Copy the code below and input it in your app along with your new password.
            </p>
            <p class="otp">{{ code }}</p>
        </div>
    </div>
{% endblock %}
